<!-- <a appLinkTagger [trackEvent]="'click'" [linkCategory]="'content'" [linkAction]="'content'" [linkSection]="'filters-panel'" [linkLabel]="'filters'" [linkText]="'Expand/Collapse'"
  class="ib-collapse-panel ib-filters {{isCollapsed? 'collapsed': ''}}" (click)= "togglePanel()" href="#ib-filters" role="button" [attr.aria-expanded]="!isCollapsed" aria-controls="ib-filters">
  <i class="far fa-filter"></i>
  Filters
</a> -->
<!-- <div class="row ib-padding-20">
  <div class="ib-filters-all">
    <div class="multi-collapse" id="ib-filters" [collapse]="isCollapsed" [isAnimated]="true">
      <div *ngFor="let filter of (filters)">
          <app-filter *ngIf="filter.option" [options]="filter.option" (submit)="onSubmit($event)" [resetOnSubmit]="true"></app-filter>
          <app-daterange-handler *ngIf="filter.propName" [filter]="filter" [rangefilter]="rangeFilter"></app-daterange-handler>
        </div>
      <button appLinkTagger [trackEvent]="'click'" [linkCategory]="'content'" [linkAction]="'content'" [linkSection]="'filters-panel'" [linkLabel]="'filters'" [linkText]="'More filters'"
        (click)="morelessToggle($event)" type="button" class="btn ib-view-more ib-more-filters {{morelinkactive?'active':''}}">+
        More filters</button>
       View more filters
      <div class="ib-more-filters-wrapper {{lesslinkactive?'active':''}}">
        <div *ngFor="let filter of (more_filters)">
            <app-filter *ngIf="filter.option" [options]="filter.option" (submit)="onSubmit($event)"></app-filter>
            <app-daterange-handler *ngIf="filter.propName" [filter]="filter" [rangefilter]="rangeFilter"></app-daterange-handler>
          </div>
        <button appLinkTagger [trackEvent]="'click'" [linkCategory]="'content'" [linkAction]="'content'" [linkSection]="'filters-panel'" [linkLabel]="'filters'" [linkText]="'Fewer filters'"
        (click)="morelessToggle($event)" type="button" class="btn ib-view-more ib-less-filters active">- Fewer
          filters</button>
      </div>
      <div class="ib-filters-spacer"></div>
    </div>
  </div>
</div> -->

