.filter-header{
  margin-left: 18px;
}

.ib-filters-wrapper .ib-collapse-panel {
  height: 1.75rem;
  width: 100%;
  display: block;
  line-height: 1.75rem;
  padding: 0 0 0 .5rem;
  color: #000;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 400;
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 1px;
  pointer-events: none;
}

.ib-collapse-panel svg {
  font-size: 1.2rem;
  position: relative;
  top: 0px;
  margin-right: .3rem;
  /* color: #B30838; */
}

.ib-padding-20 {
  padding: 0 20px;
}

.ib-filters-all {
  margin-top: -1px;
}

.ib-see-also-doc-footer-wrapper .multi-collapse {
  padding: .5rem .8rem;
}

.ib-search-suggestions-panel-wrapper .multi-collapse span {
  margin: 0;
  display: block;
}

.ib-search-suggestions-panel-wrapper .multi-collapse {
  padding: .5rem .8rem 0;
}

.ib-offcanvas-navigation-grid-comparison .offcanvas-nav .ib-collapse-panel {
  display: block;
  margin: 0 0 .5rem 0;
  padding: 0 0 .5rem;
}

.ib-offcanvas-navigation-grid-comparison .offcanvas-nav .ib-collapse-panel .fa-angle-down {
  float: right;
  margin-right: 1rem;
  margin-top: .5rem;
}

.ib-offcanvas-navigation-grid-comparison .offcanvas-nav .ib-collapse-panel .fa-angle-down::before {
  content: "\f106";
}

.ib-filters-all {
  margin-top: -1px;
}

.ib-offcanvas-navigation-grid-comparison .ib-filters-all {
  min-height: 70vh;
}

.ib-backlink-collapse .ib-label {
  margin-top: unset;
}

.ib-modal-fav-content .ib-label {
  display: inline-block;
}

.ib-agGrid-filters-wrapper>div label.ib-label {
  margin-top: .6rem;
}

.tsm-table-filter-row label.ib-label {
  display: none !important;
}

@media screen and (min-width: 568px) {
  .ib-results-list-action-bar .ib-label
  {
    margin: .55rem .5rem 0;
    float: left;
  }
  .ib-results-list-action-bar .sort-icon
  {
    padding: .5rem .7rem .5rem 1rem;
    float: left;
  }
  .ib-results-list-action-bar .sort-icon {
    margin-top: unset;
  }
}

.ib-filters-sticky-mobile {
  position: fixed;
  top: 45px;
  display: block;
  padding: 0 1rem 1rem;
  overflow-y: scroll;
  height: calc(100vh - 50px);
  width: 100%;
}

.ib-fixed .ib-filters-sticky-mobile .ib-filters-sticky,
.ib-fixed .p-sidebar-left .ib-navigation-sticky {
  position: relative;
  top: 0;
  margin-top: 0px;
}
